*.swp
*.gem

readme.html
Gemfile.lock

.bundle
.rvmrc
.DS_Store
.yardoc

doc
coverage
pkg

test/sinatra/app/assets/out
test/sinatra/app/assets/js/*.js
test/sinatra/app/assets/css/*.css
test/sinatra/public
